stages:
  - Tagging-Dockerimage
  - Tagging-Git

Tagging-Docker:
  stage: Tagging-Dockerimage
  image: docker:24.0.5
  services:
    - docker:20.10.3-dind
  rules:
    - if: $TRIGGER_ACTION == "tagging"
      when: always
    - when: never
  variables:
    REGISTRY_NAME: "registry-gital.opsta.in.th/bookinfo"
  script:
    - echo "$REGISTRY_PASSWORD" | docker login $REGISTRY_URL -u $REGISTRY_USER --password-stdin
    - docker tag $REGISTRY_NAME/ratings:uat $REGISTRY_NAME/ratings:build-${CI_COMMIT_SHORT_SHA}
    - docker tag $REGISTRY_NAME/details:uat $REGISTRY_NAME/details:build-${CI_COMMIT_SHORT_SHA}
    - docker tag $REGISTRY_NAME/reviews:uat $REGISTRY_NAME/reviews:build-${CI_COMMIT_SHORT_SHA}
    - docker tag $REGISTRY_NAME/productpage:uat $REGISTRY_NAME/productpage:build-${CI_COMMIT_SHORT_SHA}
    - docker push $REGISTRY_NAME/ratings:build-${CI_COMMIT_SHORT_SHA}
    - docker push $REGISTRY_NAME/details:build-${CI_COMMIT_SHORT_SHA}
    - docker push $REGISTRY_NAME/reviews:build-${CI_COMMIT_SHORT_SHA}
    - docker push $REGISTRY_NAME/productpage:build-${CI_COMMIT_SHORT_SHA}

Tagging-Git:
  stage: Tagging-Git
  image: alpine/git:v2.30.0
  script:
    - git remote set-url origin https://oauth2:${GITLAB_TOKEN}@gitlab.com/${CI_PROJECT_PATH}.git
    - git config user.email "sakukiheng@gmail.com"
    - git config user.name "GGital"
    - TAG_NAME="build-${CI_COMMIT_SHORT_SHA}"
    - echo "Creating tag $TAG_NAME"
    - git tag -f $TAG_NAME
    - git push origin $TAG_NAME -o ci.skip
