apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Values.ratings.namespace }}
  annotations:
    kubernetes.io/ingress.class: {{ .Values.ingress.annotations.class}}
    kubernetes.io/ingress.global-static-ip-name: {{ .Values.ingress.annotations.ip}}
    ingress.gcp.kubernetes.io/pre-shared-cert: {{ .Values.ingress.annotations.cert}}
    kubernetes.io/ingress.allow-http: "false"
spec:
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: {{ .Values.ingress.path }}
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}
                port:
                  number: {{ .Values.ratings.port }}
