workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      variables:
        ENV_NAME: "uat"

    - if: $CI_COMMIT_BRANCH
      variables:
        ENV_NAME: $CI_COMMIT_BRANCH

stages:
  - prepare&security
  - build
  - Image-Security
  - deploy
  - DAST

variables:
  PROJECT_KEY: "bookinfo:ratings"
  PROJECT_NAME: "bookinfo:ratings"

KICS-job:
  stage: prepare&security
  image:
    name: checkmarx/kics:latest
    entrypoint: [""]
  script:
    - cd src/ratings
    - mkdir -p kics-results
    - kics scan -p . --report-formats html --output-path kics-results/ --output-name scan-report --ignore-on-exit results
  artifacts:
    when: always
    paths:
      - src/ratings/kics-results/scan-report.html
    expire_in: "30 days"

Sonarqube-job:
  stage: prepare&security
  image: sonarsource/sonar-scanner-cli:latest
  script:
    - cd src/ratings
    - sonar-scanner
      -Dsonar.projectKey=${PROJECT_KEY}
      -Dsonar.projectName=${PROJECT_NAME}
      -Dsonar.sources=./src
      -Dsonar.host.url=${SONAR_HOST_URL}
      -Dsonar.token=${SONAR_TOKEN}
      -Dsonar.qualitygate.wait=true
      -Dsonar.qualitygate.timeout=60
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache

build-job:
  stage: build
  image: docker:24.0.5
  services:
    - name: docker:20.10.3-dind # This matches your Jenkins version
      alias: docker
      command:
        - "--host=unix:///var/run/docker.sock"
        - "--host=tcp://0.0.0.0:2375"
        - "--storage-driver=overlay2"
  variables:
    IMAGE_NAME: "registry-gital.opsta.in.th/bookinfo/ratings"
    IMAGE_TAG: "${ENV_NAME}" # Ensure ENV_NAME is defined in your pipeline or as a variable
  script:
    - echo "$REGISTRY_PASSWORD" | docker login $REGISTRY_URL -u $REGISTRY_USER --password-stdin
    - cd src/ratings
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - docker push $IMAGE_NAME:$IMAGE_TAG

Trivy-check:
  stage: Image-Security
  image:
    name: aquasec/trivy:latest
    entrypoint: [""]
  variables:
    TRIVY_USERNAME: $REGISTRY_USER
    TRIVY_PASSWORD: $REGISTRY_PASSWORD
  script:
    - mkdir -p trivy-results
    - trivy image
      --severity LOW,MEDIUM,HIGH
      --format template
      --template "@/contrib/html.tpl"
      --output trivy-results/trivy-report.html
      registry-gital.opsta.in.th/bookinfo/ratings:${ENV_NAME}
  artifacts:
    when: always
    paths:
      - trivy-results/trivy-report.html
# Auth using integration of google IAM
Deploy-job:
  stage: deploy
  image:
    name: kiwigrid/gcloud-kubectl-helm:latest
    entrypoint: [""]
  identity: google_cloud
  variables:
    GCP_SERVICE_ACCOUNT: "jenkins-deployer@gifted-airport-481410-e7.iam.gserviceaccount.com"
    WIF_PROVIDER: "projects/190851359876/locations/global/workloadIdentityPools/bookinfo-gitlab-pool/providers/bookinfo-gitlab"
  script:
    - cd src/ratings
    # 1. Check which identity is active
    - echo ${CI_JOB_JWT_V2} > .ci_job_jwt_file
    - gcloud iam workload-identity-pools create-cred-config "${WIF_PROVIDER}"
      --service-account="${GCP_SERVICE_ACCOUNT}"
      --output-file=.gcp_temp_cred.json
      --credential-source-file=.ci_job_jwt_file

    # 2. ACTIVATE your account (This is the missing step!)
    - gcloud auth login --cred-file=.gcp_temp_cred.json
    - gcloud projects describe gifted-airport-481410-e7
    - gcloud config set project gifted-airport-481410-e7

    # 3. Now verify identity (It should now show YOUR service account)
    - gcloud auth list
    # 4. Connect to GKE
    - gcloud container clusters get-credentials bookinfo --zone asia-southeast1 --project gifted-airport-481410-e7
    - |
      helm upgrade --install \
        bookinfo-ratings-${ENV_NAME} \
        ./helm \
        -f ./helm_values/values-bookinfo-${ENV_NAME}-ratings.yaml \
        --set extraEnv.COMMIT_ID=$CI_COMMIT_SHA \
        --wait \
        --namespace bookinfo-${ENV_NAME}
