workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      variables:
        ENV_NAME: "uat"

    - if: $CI_COMMIT_BRANCH
      variables:
        ENV_NAME: $CI_COMMIT_BRANCH

stages:
  - prepare&security
  - build
  - Image-Security
  - deploy
  - DAST

variables:
  PROJECT_KEY: "bookinfo:ratings"
  PROJECT_NAME: "bookinfo:ratings"

KICS-job:
  stage: prepare&security
  image:
    name: checkmarx/kics:latest
    entrypoint: [""]
  script:
    - cd src/ratings
    - mkdir -p kics-results
    - kics scan -p . --report-formats html --output-path kics-results/ --output-name scan-report --ignore-on-exit results
  artifacts:
    when: always
    paths:
      - src/ratings/kics-results/scan-report.html
    expire_in: "30 days"

Sonarqube-job:
  stage: prepare&security
  image: sonarsource/sonar-scanner-cli:latest
  script:
    - cd src/ratings
    - sonar-scanner
      -Dsonar.projectKey=${PROJECT_KEY}
      -Dsonar.projectName=${PROJECT_NAME}
      -Dsonar.sources=./src
      -Dsonar.host.url=${SONAR_HOST_URL}
      -Dsonar.token=${SONAR_TOKEN}
      -Dsonar.qualitygate.wait=true
      -Dsonar.qualitygate.timeout=60
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache

build-job:
  stage: build
  image: docker:24.0.5
  services:
    - name: docker:20.10.3-dind # This matches your Jenkins version
      alias: docker
      command:
        - "--host=unix:///var/run/docker.sock"
        - "--host=tcp://0.0.0.0:2375"
        - "--storage-driver=overlay2"
  variables:
    IMAGE_NAME: "registry-gital.opsta.in.th/bookinfo/ratings"
    IMAGE_TAG: "${ENV_NAME}" # Ensure ENV_NAME is defined in your pipeline or as a variable
  script:
    - echo "$REGISTRY_PASSWORD" | docker login $REGISTRY_URL -u $REGISTRY_USER --password-stdin
    - cd src/ratings
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - docker push $IMAGE_NAME:$IMAGE_TAG

Trivy-check:
  stage: Image-Security
  image:
    name: aquasec/trivy:latest
    entrypoint: [""]
  variables:
    TRIVY_USERNAME: $REGISTRY_USER
    TRIVY_PASSWORD: $REGISTRY_PASSWORD
  script:
    - mkdir -p trivy-results
    - trivy image
      --severity LOW,MEDIUM,HIGH
      --format template
      --template "@/contrib/html.tpl"
      --output trivy-results/trivy-report.html
      registry-gital.opsta.in.th/bookinfo/ratings:${ENV_NAME}
  artifacts:
    when: always
    paths:
      - trivy-results/trivy-report.html

Deploy-job:
  stage: deploy
  image:
    name: lachlanevenson/k8s-helm:v3.5.0
    entrypoint: [""]
  script:
    - cd src/ratings
    - helm upgrade --install \
      -f ./helm_values/values-bookinfo-${ENV_NAME}-ratings.yaml \
      --set extraEnv.COMMIT_ID=${scmVars.GIT_COMMIT} \
      --wait --namespace bookinfo-${ENV_NAME} \
      bookinfo-ratings-${ENV_NAME} ./helm
